<body class="relative" data-spy="scroll" data-target=".navbar-landing">
<header class="section-header">

</header> <!-- section-header.// -->

<!-- ========================= SECTION INTRO ========================= -->
<section id="intro" class="section-intro bg-secondary pt-5">
  <div class="container">
    <div class="row d-flex" style="min-height:600px;">
      <div class="col-sm-6 d-flex align-items-center">
        <header class="intro-wrap text-white">
          <h2 class="display-3"> T-shirt plus + </h2>
          <p class="lead">Here you can find and buy unique T-shirts. <br> Youth, stylish and cheap.</p>
          <%= link_to 'Go to shop', root_path, :class => 'btn btn-warning' %>
        </header>  <!-- intro-wrap .// -->
      </div> <!-- col.// -->
      <div class="col-sm-6 text-right">
        <%=image_tag(('landing-shirt'), :class => 'img-fluid my-5', :width =>"500") %>
      </div> <!-- col.// -->
    </div> <!-- row.// -->
  </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->


<!-- ========================= SECTION FEATURES ========================= -->
<section id="features" class="section-features bg2 padding-y-lg">
  <div class="container">

    <header class="section-heading text-center">
      <h2 class="title-section">Why us?</h2>
      <p class="lead">Customers choose our products for these reasons</p>
    </header><!-- sect-heading -->

    <div class="row">
      <aside class="col-sm-4">
        <figure class="itembox text-center">
          <span class="icon-wrap icon-lg bg-secondary white"><i class="fa fa-paypal"></i></span>
          <figcaption class="text-wrap">
            <h4 class="title">Easy and safer way to pay </h4>
            <p>PayPal is a global service that moves the payment amount from your credit card
              to the merchant without sharing your financial information.</p>
          </figcaption>
        </figure> <!-- iconbox // -->
      </aside> <!-- col.// -->
      <aside class="col-sm-4">
        <figure class="itembox text-center">
          <span class="icon-wrap icon-lg bg-secondary white"><i class="fa fa-send"></i></span>
          <figcaption class="text-wrap">
            <h4 class="title">Free and fast delivery</h4>
            <p>We will process your order in the coming hours and delivery will take no more than 2-3 days. </p>
          </figcaption>
        </figure> <!-- iconbox // -->
      </aside> <!-- col.// -->
      <aside class="col-sm-4">
        <figure class="itembox text-center">
          <span class="icon-wrap icon-lg bg-secondary  white"><i class="fa fa-modx"></i>	</span>
          <figcaption class="text-wrap">
            <h4 class="title">Unique T-shirts</h4>
            <p>Design and drawings specially developed by our artists, these t-shirts you will not find anywhere. Be
              unique. </p>
          </figcaption>
        </figure> <!-- iconbox // -->
      </aside> <!-- col.// -->
    </div> <!-- row.// -->

    <p class="text-center">
      <br>
      <%= link_to 'Find new T-short', root_path, :class => 'btn btn-warning' %>
    </p>

  </div><!-- container // -->
</section>
<!-- ========================= SECTION FEATURES END// ========================= -->

<!-- ========================= SECTION CONTENT  ========================= -->
<section id="content" class="section-content padding-y-lg">
  <div class="container">

    <header class="section-heading text-center">
      <h2 class="title-section">Our History</h2>
      <p class="lead"> Briefly about us and who we are </p>
    </header><!-- sect-heading -->

    <div class="row justify-content-center">
      <article class="col-md-6 text-center">
        <p>Young independent spanish company based on Barcelona. We provide the largest collection of merchandise on the
          net spanning across the decades of art, film and all things entertainment. We curate the best collections of
          entertainment-inspired clothing and bring them to you on a range of different unique t-shirts.</p>
      </article> <!-- col.// -->
    </div> <!-- row.// -->

  </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT  END// ========================= -->


<!-- ========================= SECTION CONTENT ASIDE ========================= -->
<section id="more" class="bg section-content padding-y-lg">
  <div class="container">

    <header class="section-heading text-center">
      <h2 class="title-section"> How to Buy</h2>
    </header><!-- sect-heading -->

    <div class="row justify-content-center">
      <article class="col-md-6 text-center">
        <p>Purchase any of our shirts anytime and anywhere using a Paypal account. Fill the cart with many products as
          you wish and feel free to modify or cancel your order whenever you want. Easy and fast payment process.
          Integration made easy with Plug'n Play modules.</p>
      </article> <!-- col.// -->
    </div> <!-- row.// -->

  </div> <!-- container .//  -->
</section>


<section id="content" class="section-content padding-y-lg">
  <div class="container">

    <header class="section-heading text-center">
      <h2 class="title-section">Delivery and return policy</h2>
    </header><!-- sect-heading -->

    <div class="row justify-content-center">
      <article class="col-md-6 text-center">
        <p>Delivery will normally be made within 1-2 working days from the date of dispatch to all Spain mainland
          addresses. Please Note a ‘working day’ means a Monday, Tuesday, Wednesday, Thursday or Friday that is not a
          Bank or Public Holiday.
          We want to make sure you are completely happy with your purchase and make every effort to ensure you have the
          correct size and colour information available to you at the time of purchase.
          However, if you are not 100% happy, we have a 30 day return policy and will accept returns for an exchange of
          size, colour or for a refund. Items must be returned as new, in the original packaging.
          Please ensure you contact us before returning your items so we can approve the return.</p>
      </article> <!-- col.// -->
    </div> <!-- row.// -->

  </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT ASIDE END// ========================= -->


</body>

