<div class="container padding-top">
  <h1>All categories</h1>

  <ol>
    <% @categories.each do |category| %>
      <li>
        <%= category.title %>
        (<%= category.products_count %> products)
      </li>
    <% end %>

  </ol>

</div>