<div class="container padding-top">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-3-24"><strong>Your are here:</strong></div> <!-- col.// -->
        <div class="col-md-18-24">
          <ul class="list-inline">
            <%= link_to "Category", root_path %> /
            <%= link_to "#{@category.title}", category_products_path(@category) %>  /
            <%= @product.title %>

          </ul>
        </div> <!-- col.// -->
      </div> <!-- row.// -->
    </div>
  </div>
</div>